.Rproj.user
.Rhistory
.RData
.Ruserdata
renv.lock


README_old.md
data/*
compare_methods/*
output/liberia/*
output/simulations/*
output/figures/*
output/tables/*
output/replicate_liberia_analysis/*
output/*.Rda
renv/*